body{
    margin: 5px;
    font-family: Itau Display, Arial, Helvetica, sans-serif;
    
}

.singin{
border-style: solid;
align-content: center;
margin: 5px;
padding: 10px;
}

#but{
    background-color: blue;
    border-radius: 1px;
    color: white;
    font-family: Itau Display, Arial, Helvetica, sans-serif;
    margin: 10px;
}

#line{
    color: aliceblue;
}

#block{
    border-style: solid;
    align-content: center;
    margin: 5px;
    padding: 10px;
}