body, html{
    height: 100%;
}

.form-control{
    margin-bottom: 15px;
}

#msgNOK{
    color: red;
}

#msgOK{
    color:blue;
}

img{
    height: 80px;
    width: 70px;
    margin: 5px;
}

p{
    margin-left: 5px;
}